body {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  background-color: rgb(44, 44, 44);
}
#main-body {
  display: flex;
  flex-direction: column;
  width: 420px;
}

.display {
  max-width: 740px;
  min-width: 340px;
  height: 80px;
  background-color: rgb(81, 81, 81);
  padding: 20px;
  margin: 25px;
  border-radius: 100px;
  box-sizing: border-box;
  font-size: 35px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(178, 178, 178);
  flex-shrink: 1;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

button {
  width: 90px;
  height: 80px;
  margin: 3px;
  font-size: larger;
  border-radius: 50px;
  background-color: blanchedalmond;
  transition: width 0.5s ease;
}

button:hover {
  background-color: rgb(255, 216, 158);
}

.operation {
  background-color: rgb(80, 80, 80);
  color: rgb(207, 207, 207);
}

.equal {
  width: 100px;
}
